node_modules
.next
.git
.gitignore
.env
.env.local
.env.production
.env.development
*.db
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.dockerignore
Dockerfile
docker-compose.yml
trash
scripts
doc
pb/pb_data
!pb/pb_data/types.d.ts
README.md
implementation_plan.md
task.md
walkthrough.md
